---
import "../../styles/main.css";
import Layout from "../../layouts/Layout.astro";
// Component Imports
import NavBar from "../../components/NavBar.vue";
import Covid from "../../components/CovidInfo.vue";
import Welcome from "../../components/WelcomeBloc.vue";
import InfoArea from "../../components/InfoArea.vue";
import Show from "../../components/Show.astro";
import TextArea from "../../components/TextArea.vue";
import PhotoGrid from "../../components/PhotoGrid.vue";
import Menu from "../../components/MenuBloc.vue";
import ImageGridBg from "../../components/ImageGridBg.vue";
import AboutUs from "../../components/AboutUs.vue";
import Footer from "../../components/Footer.vue";
import { LanguageSelector } from "astro-i18next/components";
// Data Imports
import { t, changeLanguage } from "i18next";

changeLanguage("en");

const seasonmenusApi = t("seasonmenu:seasonmenus", { returnObjects: true });
const seasonmenu = Object.create(seasonmenusApi);
const seasonmenus = seasonmenu.map((menu) => menu);
---

<Layout title={t("title")}>
	
	<NavBar client:visible data={t("common:context", {returnObjects: true})}>
		<LanguageSelector showFlag={true} class="language-selector" />
	</NavBar>
	<main>
		<Covid 
			title={t("covid:title")} 
			body={t("covid:body")}
			public_info={t("covid:public")}
		/> 

		<Welcome 
			title={t("welcome:title")} 
			body={t("welcome:intro")} 
			image={t("welcome:image")}
		/>

		<InfoArea 
			restaurant={t("common:context:restaurant")}
			name={t("common:context:name")}
			address={t("common:context:address")} 
			email={t("common:context:email")} 
			phone={t("common:context:phone")} 
			opening={t("opentimes:opening_hours", { returnObjects: true })} 
			exception={t("opentimes:exception_opening_hours",  { returnObjects: true })}
			news={t("news:news")}
			tablereservationtext={t("common:context:tablereservationtext")}
			opentimes={t("common:context:opentimes")}
			extraopentimes={t("common:context:extraopentimes")}
			newstitle={t("common:context:newstitle")}
		/>

		<Show when={t("extrainfo:public")}>
			<TextArea
				heading={t("extrainfo:heading")}
				content={t("extrainfo:content")}
			/>
		</Show>

		<PhotoGrid 
		imageOne={t("lunchlist:imageone")} 
		imageTwo={t("lunchlist:imagetwo")} 
		imageThree={t("lunchlist:imagethree")}/>

		<div class="relative">
			<h3 id="lounaslista">{t("lunchlist:heading")} {t("lunchlist:week")}</h3>
			<Menu 
			food={t("lunchlist:foods", { returnObjects: true })} 
			drink={t("lunchlist:drinks", { returnObjects: true })}/>
			<ImageGridBg />
		</div>

		{seasonmenus.map((menu) => (
		<Show when={menu.public}>
		<div class="relative">
			<h3 id="extralista">{menu.title} - {menu.price}€</h3>
			<h4>{menu.info} </h4>
			<Menu food={menu.foods} drink={menu.drinks}/>
		</div>
		</Show>
		))}

		<PhotoGrid 
		imageOne={t("alacartelist:imageone")}
		imageTwo={t("alacartelist:imagetwo")}
		imageThree={t("alacartelist:imagethree")}/>

		<div class="relative">
			<h3 id="alacartelista">{t("common:context:alacarte")}</h3>
			<Menu 
			food={t("alacartelist:foods", { returnObjects: true })} 
			drink={t("alacartelist:drinks", { returnObjects: true })}/>
			<ImageGridBg />
		</div>

		<h3 id="ravintolasta">{t("common:context:name")}</h3>
		<AboutUs data={t("aboutus:about_content", { returnObjects: true })}/>
		<Footer data={t("common:context", { returnObjects: true })} />

	</main>
</Layout>

<style  is:global>
	main{
		@apply pt-14;
	}
	h3{
		@apply text-center xl:text-left  container mx-auto max-w-6xl font-serif text-5xl font-bold text-brand-dark mb-4;
		font-size: clamp(0.9rem, 1vw + 1.5rem, 3rem);
	}
	h4{
		@apply text-center xl:text-left  container mx-auto max-w-6xl font-serif text-2xl font-normal  text-brand-dark;
		font-size: clamp(0.4rem, 0.7vw + 1.2rem, 1.5rem);
	}
	.language-selector {
		background: none;
		margin-left: 8px;
		@apply hidden sm:flex sm:space-x-4  font-serif font-extrabold sm:text-xs md:text-base uppercase;
	}
</style>
